/* Game Page Layout */
body {
  background: var(--bg-dark);
  color: var(--text-primary);

}

.game-page {
  margin-top: 30px;
}

.game-area {
  margin-left: -60px;
}

/* Game player container */

.game-player {
  width: 100%;
  height: 80vh;
  background: var(--bg-card);
  border-radius: 12px;
  overflow: hidden;
  margin-top: 80px;
}

#gameFrame {
  border: none;
  width: 100%;
  height: 93%;
}

/* iframe styling */

.game-player iframe {
  width: 100%;
  height: 100%;
  background: var(--footer-color);

}

.game-info-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.game-info-button {
  display: flex;
  gap: 15px;
}

.game-info-button button {
  position: relative;
  border: none;
  padding: 20px;
  background-color: var(--accent-color);
  border-radius: 30px;
}

.game-info-button button::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.25s ease;
  pointer-events: none;
}

.game-info-button button:hover::after {
  opacity: 0.5;
}



/* Game information section */

.game-info {
  background: var(--bg-card);
  padding: 20px;
  border-radius: 12px;
}

.game-table,
.game-table th,
.game-table td {
  background: transparent !important;
}

.game-table th {
  color: var(--text-secondary);
  font-size: 1.4rem;
  font-weight: bold;
}

.game-table td {
  color: var(--text-primary);
  font-size: 1.4rem;
}

.game-info ul {
  margin-left: 20px;
  font-size: 1.4rem;
}

/* Sidebar */

#relatedGames {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Small cards for sidebar */
.other-games {
  margin-top: 120px;
}

.related-card {
  display: flex;
  align-items: center;
  width: 15vw;
  height: 12vh;
  background: var(--bg-card);
  box-shadow: 0 2px 10px rgba(179, 177, 177, 0.2);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.related-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.related-card:hover {
  transform: scale(1.05);
}




