.slider {
  height: 30%;
  position: relative;
  background: #0f172a;
  border-radius: 10px;
  padding: 40px ;
  overflow: hidden;
}

.slide {
  display: none;
  z-index: 2;
}

.slide.active {
  display: block;
}

.slide-text{
    
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.slide-text h1 {
  color: white;
  font-size: 42px;
  margin-bottom: 15px;
}

.slide-text p {
  color: #cbd5f5;
  margin-bottom: 20px;
}
.btn{
 background-color: var(--btn-primary);
 font-weight: bold;
}
.play-btn {
    
    width: 200px;
    border-radius: 25px;
    padding: 10px 25px;
    
}

.slide-image {
  position: relative;
}

.slide-image img {
  width: 100%;
  height: auto;
  object-fit: cover;

  /* fade into background */
  mask-image: linear-gradient(
    to left,
    rgba(0,0,0,1),
    rgba(0,0,0,0)
  );
}



/* navigation buttons */

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.1);
  border: none;
  color: white;
  font-size: 28px;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 6px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
body{
    background-color: var(--bg-dark);
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
/* Category */
.category{
  margin: 30px 0;
}

.section-title{
  font-size: 24px;
  font-weight: 600;
}

.category-buttons{
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.category-btn{
  border-radius: 20px;
  padding: 6px 18px;
  border: 2px solid var(--btn-hover);
  transition: 0.3s;
}

.category-btn:hover{
  background: var(--accent-color);
  color: white;
}

.category-btn.active{
  background: transparent;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}
