/* Top Navbar */

.navbar {
    height: 70px;
    background: rgba(15, 23, 42, 0.6);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(151, 254, 237, 0.1);
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1100;
}
nav, .sidebar-footer{
    padding-top: 15px;
}
#logoutItem a:hover{
    background: rgba(255, 0, 0, 0.836);
    border-radius: 20px;

}

.sidebar-nav li a {
  white-space: nowrap;
}
/* Menu Button */

.menu-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin:auto 15px;
}

.menu-btn i:hover {
    color: #ece8a9;
}
.menu-btn i{
    transition: 0.4s ease-in-out;
    display: inline-block;
}
.menu-btn.active i {
    transform: rotateX(180deg); 
}


/* Sidebar */

.sidebar {
    position: fixed;
    top: 70px; /* adjusted to match new navbar height */
    left: -260px;
    width: 260px;
    height: 100%;
    background: rgba(11, 15, 26, 0.85); /* glassmorphism */
    backdrop-filter: blur(12px);
    transition: 0.3s ease;
    border-right: 1px solid rgba(151, 254, 237, 0.1);
    overflow-y: auto;
    z-index: 1000;
}

/* Custom scrollbar for sidebar */
.sidebar::-webkit-scrollbar {
    width: 6px;
}
.sidebar::-webkit-scrollbar-track {
    background: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
}


/* Active sidebar */

.sidebar.active {
    left: 0;
}


/* Sidebar list */

.sidebar ul {
    list-style: none;
    padding: 15px 10px;
}


/* Sidebar items */

.sidebar li {
    margin: 4px 0;
}


/* Sidebar links */

.sidebar a {
    display: flex;
    align-items: center;
    gap: 14px;
    text-decoration: none;
    color: #cbd5f5;
    padding: 12px 14px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
}


/* Icon size */

.sidebar a i {
    width: 18px;
    text-align: center;
    font-size: 16px;
}


/* Hover effect */

.sidebar a:hover {
    background: #1e293b;
    color: white;
    transform: translateX(4px);
}


/* Active item example */

.sidebar a.active {
    background: #3b82f6;
    color: white;
}


/* Active sidebar item for Highlight*/
.sidebar ul li a.active {
  background: rgba(189, 194, 236, 0.61);
  color: #f1efef !important;
  border-radius: 8px;
  padding-left: 10px;
  transition: all 0.3s ease;
}

.sidebar ul li a:hover {
  background: rgba(19, 23, 68, 0.829);
  border-radius: 8px;
}