/* Top Navbar */

.navbar {
    height: 60px;
    background: var(--bg-card);
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


/* Menu Button */

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin-right: 15px;
}

.menu-btn:hover {
    color: #ece8a9;
}


/* Sidebar */

.sidebar {
    position: fixed;
    top: 60px;
    left: -260px;
    width: 260px;
    height: 100%;
    background: #020617;
    transition: 0.3s ease;
    border-right: 1px solid #1e293b;
    overflow-y: auto;
}


/* Active sidebar */

.sidebar.active {
    left: 0;
}


/* Sidebar list */

.sidebar ul {
    list-style: none;
    padding: 15px 10px;
}


/* Sidebar items */

.sidebar li {
    margin: 4px 0;
}


/* Sidebar links */

.sidebar a {
    display: flex;
    align-items: center;
    gap: 14px;
    text-decoration: none;
    color: #cbd5f5;
    padding: 12px 14px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
}


/* Icon size */

.sidebar a i {
    width: 18px;
    text-align: center;
    font-size: 16px;
}


/* Hover effect */

.sidebar a:hover {
    background: #1e293b;
    color: white;
    transform: translateX(4px);
}


/* Active item example */

.sidebar a.active {
    background: #3b82f6;
    color: white;
}